
.containerDogBreeds {
    background: white;


}




#busqueda {
    top: 201px;
    left: 215px;
    width: 550px;
	margin-left:auto; 
    margin-right:auto;  
    margin-top: 25px;  
    font-size:10px;
    background: #f7fafe;
}

.busqueda{
	font-size: 12px;
	width: 8em;
	display: block;
}

.busquedaInput{
	font-size: 12px;
	width: 7.7em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}



.tituloBusqueda{
	height: 26px;
	font-family:Dosis;
	font-size: 14px;
	color: white;
	background-color: olive;
	padding-top:2px;
	padding-left: 4px;
	text-align:left;
	letter-spacing:1px;
}

td.campoBusqueda{
	text-align: left;
	padding-left: 5px;
}


.labelBusqueda {
  display: block;
  width: 90px;
  font-size: 12px;
  text-align: left;
}



table.picturesTable {
	margin-left:auto; 
    margin-right:auto;
    top: 265px;
}


table.pictureInternalTable {
	margin-left:auto; 
    margin-right:auto;
}

td.tdPictureContainer{
	align: center;
}

.pictureTitle{
	text-align: center;
	color: #1e6b88;
	font-size: 18px;
	font-family: "Dosis";
}

div.pictureContainer{
	text-align:center;
	align:center;
	padding:5px;
	margin: 0 auto;
}

span.navegacionPaginas{
	text-align: center;
	color: #1e6b88;
	font-size: 18px;
	font-family: "Dosis";
}

/* form de búsqueda */
td.submitButtons{
	align:right;
}

.busquedaBotones{
	font-size: 12px;
	padding-right:10px;
}





.redondeado{
  border-radius: 5px;
  border: 1px solid gray;
  font: normal 1.5em auto; /* 24px, or 16px x 1.5 */
  font-family: 'Dosis';
  padding: 0.1em;
  box-shadow: 0 0 10px gray inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



#contactform .formcolumn{ /* column div inside form */
  width: 33%;
  float: left;
}

#contactform .formcolumn label, #contactform .formcolumn fieldset{
font: 1.2em Dosis; /* font size is 12.8px, or 16 x 0.8 */
display: inline-block;
margin-top: 2em;
margin-bottom: 3px;
}

#contactform input.button{
margin-top: 1.5EM;
box-shadow: 0 0 10px gray;
font-weight: bold;
}


/* dog info details page */
table.features{
	position:relative;
	top:20px;
	left: 10px;
	margin: 0 auto;
	width: 460px;

}

td.featureTitle{
	text-align: left;
	vertical-align: middle;
	color: #1e6b88;
	font-size: 14px;
	font-family: "Dosis";
	height: 30px;
	width:150px;
}

td.featureText{
	text-align: justify;
	vertical-align: middle;
	font-size: 14px;
	width:300px;
	
}

td.mainFeatures{
	text-align: center;
	color: black;
	background-color: #f7fafe;
	font-size: 18px;
	font-weight: bold;
	border:none;
}


td.mainFeatures a{
	  color: olive;
}


img.infoDetail{
	width: 250px;
}

div.textTitle{
	text-align: left;
	color: #1e6b88;
	font-size: 15px;
	font-family: "Dosis";
}

table.tableFotoInfo{
	position:relative;
	top:20px;
	margin: 0 auto;
	float:left;
}

div.infoText{
	text-align:justify;
	padding-left:5px;
	padding-right:5px;
	font-size: 80%;
}

span.infoTextTitle{
	width:230px;
	display:inline-block;
	padding-left:5px;
}

img.estrellas{
	height:20px;
}

.pictureTitleInfo{
	text-align: center;
	color: white;
	background-color: olive;
	font-size: 18px;
	font-family: "Dosis";
	vertical-align: top;
}

img.breedImage{
	height: 172px;
	width: auto;
}

.sheltersPerBreed{
	margin-top:10px;
    margin-left:auto; 
    margin-right:auto;
}

.winRankLine{
	display: table;
	text-align: left;
	color: #1e6b88;
	font-size: 15px;
	font-family: "Dosis";
	height: 35px;	

}

.winRankImg{
  padding-top:15px;
  height: 20px;
  vertical-align:middle;
  display:table-cell;	

}

.winRankText{
  display:table-cell;
  vertical-align:middle;
  width:230px;
  padding-left:5px;
}

.winRankButton {
  width: 87px;
  height: 30px;
  background-color: beige;
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer; 
  cursor: hand;
}



img.breedImageAlpha{
	height: 120px;
	width: auto;
}







		