.newsTitle2{
	text-align: center;
	color: white;
	background-color: olive;
	font-size: 18px;
	font-family: "Dosis";
	vertical-align: top;
	display: inline;
}

.newsTitle {
    text-align: left;
    color: #1E6B88;
    font-size: 18px;
    font-family: "Dosis";
    padding-right: 5px;
    padding-left: 5px;
}

.newsSource {
    text-align: left;
    color: #1E6B88;
    font-size: 12px;
    font-family: "Dosis";
    padding-left: 5px;
}

div.newsContainer{
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #dddddd;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

div.newsContent{
	text-align: justify;
	margin: 0 auto;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

img.newsPictureLeft{
  padding-right: 5px;
  padding-bottom: 5px;
  float: left;
  width: 180px;	
}

img.newsPictureRight{
  padding-left: 5px;
  padding-bottom: 5px;
  float: right;
  width: 180px;	
}




.tituloSeccionNews{
	height: 26px;
	font-family:Dosis;
	font-size: 14px;
	color: white;
	background-color: olive;
	padding-top:2px;
	padding-left: 5px;
	margin-right: 5px;
	margin-left: 5px;
	text-align:left;
	letter-spacing:1px;
}

/** wrapper para los videos de youtube */
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table.homePicturesTable {
	margin-left:auto; 
    margin-right:auto;
}

/* la pieza central, que contiene todasa las news */
.centroNews {
    background: none repeat scroll 0% 0% #FFF;
    text-align: center;
}





