table.sheltersTable {
	margin-left:auto; 
    margin-right:auto;
    border-style:solid;
    border-width: 1px;
    top: 265px;
    left: 265px;    
    width: 770px;
}

td.shelterContainer{
	height: 53px;
	text-align:left;
	align:center;
	padding:5px;
	margin: 0 auto;	
}

td.distancia{
	color:#a9b93c; /* verde claro */
	text-align:left; 
}

td.locacion{
	text-align:left; 
}

a.btnMoreDetails{
	background: #2ba9bd;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    text-decoration: none;   
    border-radius: 8px;
    padding: 12px;
}

a.btnMoreDetails:hover{
	background: #16535b;
}


.w90 {
width: 90px;
}