@import url(http://fonts.googleapis.com/css?family=Dosis);

html, body {
	margin: 0;
	font: 100% "Dosis", Arial, Helvetica, sans-serif;
	color: #000;
	background: #ccccff;
	text-align: center;
}


#container {
	margin: 20px auto;
	background: white;
	width: 1100px;
	border-width: 1px;
	border-style:solid;
	text-align: center;
	margin: 0 auto; 
	position: relative;
}

#logoContainer{
	height: 155px;
}

.navigation-div{
  font-family: 'Dosis', arial, serif;
  font-size: 16px;
  height: 50px;
  background-color: olive;
  width: 100%;
  display:table;
}
.navigation-div a:link, .navigation-div a:visited {
    text-decoration: none;
    color:white;
}

span.menuItem { 
	display:table-cell;
	vertical-align:middle; 
	padding-left:15px;
	padding-right:15px;
    letter-spacing:1.6px;
}

/* lo mismo que menuItem, para que haya algo de h1 */
h1 { 
	font-family: 'Dosis', arial, serif;
	font-size: 16px;
	font-weight: normal;
	display:table-cell;
	vertical-align:middle; 
	padding-left:15px;
	padding-right:15px;
    letter-spacing:1.6px;
}

.costado {
    top: 201px;
	width: 200px; 
	padding: 5px;
	float: right; 
	background: white;
}

.centro {
	/* width: 786px ; */
    background: white;
    text-align:center;
	
}

#footer {
	color: white;
	background-color: olive;
    width:  100%;
    margin: 0 auto;
}

h2, h3, footer p {
	line-height: 45px;
	margin: 0;
	text-align: center;
}

#busqueda {
    top: 201px;
    left: 215px;
    width: 770px;
	margin-left:auto; 
    margin-right:auto;  
    margin-top: 25px;  
    font-size:10px;
    background: #f7fafe;
}


.busquedaInput{
	font-size: 12px;
	width: 7.7em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	height: 24px;	
}

.busquedaSelect{
	font-size: 12px;
	height: 24px;
	width: 200px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}



.tituloBusqueda{
	height: 26px;
	font-family:Dosis;
	font-size: 14px;
	color: white;
	background-color: olive;
	padding-top:2px;
	padding-left: 4px;
	text-align:left;
	letter-spacing:1px;
}

td.campoBusqueda{
	text-align: left;
	padding-left: 5px;
	padding-top: 5px;
}


.labelBusqueda {
  display: block;
  width: 90px;
  font-size: 14px;
  text-align: left;
}


table.pictureInternalTable {
	margin-left:auto; 
    margin-right:auto;
}

td.tdPictureContainer{
	align: center;
}

.pictureTitle{
	text-align: center;
	color: #1e6b88;
	font-size: 18px;
	font-family: "Dosis";
}

div.pictureContainer{
	text-align:center;
	padding:5px;
	margin: 0 auto;
}

.pictureContainerAlpha{
	text-align:center;
	margin: 0 auto;
	width: 180px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-botton:15px;
}

span.navegacionPaginas{
	text-align: center;
	color: #1e6b88;
	font-size: 18px;
	font-family: "Dosis";
}

/* form de búsqueda */
td.submitButtons{
	align:right;
}

.busquedaBotones{
	font-size: 12px;
	padding-right:10px;
}




.redondeado{
  border-radius: 5px;
  border: 1px solid gray;
  font: normal 1.5em auto; /* 24px, or 16px x 1.5 */
  font-family: 'Dosis';
  padding: 0.1em;
  box-shadow: 0 0 10px gray inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



#contactform .formcolumn{ /* column div inside form */
  width: 33%;
  float: left;
}

#contactform .formcolumn label, #contactform .formcolumn fieldset{
font: 1.2em Dosis; /* font size is 12.8px, or 16 x 0.8 */
display: inline-block;
margin-top: 2em;
margin-bottom: 3px;
}

#contactform input.button{
margin-top: 1.5EM;
box-shadow: 0 0 10px gray;
font-weight: bold;
}


/* dog info details page */
table.features{
	position:relative;
	top:20px;
	left: 10px;
	margin: 0 auto;
	width: 460px;

}

td.featureTitle{
	text-align: left;
	vertical-align: middle;
	color: #1e6b88;
	font-size: 14px;
	font-family: "Dosis";
	height: 30px;
	width:150px;
}

td.featureText{
	text-align: justify;
	vertical-align: middle;
	font-size: 14px;
	width:300px;
	
}

td.mainFeatures{
	text-align: center;
	color: black;
	background-color: #f7fafe;
	font-size: 18px;
	font-weight: bold;
	border:none;
}


td.mainFeatures a{
	  color: olive;
}


img.infoDetail{
	width: 250px;
}

div.textTitle{
	text-align: left;
	color: #1e6b88;
	font-size: 15px;
	font-family: "Dosis";
}

table.tableFotoInfo{
	position:relative;
	top:20px;
	margin: 0 auto;
	float:left;
}

div.infoText{
	text-align:justify;
	padding-left:5px;
	padding-right:5px;
	font-size: 80%;
}

span.infoTextTitle{
	width:230px;
	display:inline-block;
	padding-left:5px;
}

img.estrellas{
	height:20px;
}

.pictureTitleInfo{
	text-align: center;
	color: white;
	background-color: olive;
	font-size: 18px;
	font-family: "Dosis";
	vertical-align: top;
}

img.breedImage{
	height: 152px;
	width: auto;
}

.sheltersPerBreed{
	margin-top:10px;
    margin-left:auto; 
    margin-right:auto;
}

div.descriptiveParagraph2{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #dddddd;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

div.descriptiveParagraph2A{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color:white;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

div.siteDescription{
	background-image: url('../img/fondo_home_descripcion.jpg');
	font-size:18px;
	text-align: left;
	height:350px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	/* background-color: #ea9a3e; */
	background-color: #eeb94d;
}

.tituloSeccion{
	height: 26px;
	padding-left:10px;'
	font-family:Dosis;
	font-size: 16px;
	color: white;
	background-color: olive;
	padding-top:2px;
	text-align:left;
	letter-spacing:1px;
}

.tituloFormBusqueda{
	height: 26px;
	padding-left:10px;'
	font-family:Dosis;
	font-size: 16px;
	padding-top:2px;
	text-align:left;
	letter-spacing:1px;
}

.columnLeft{
	order:1;
	flex-grow:1;
	flex-shrink:1;
	width:120px;
	/* border-style:solid; */
	/*  border-color:red; */
}

.columnRight{
	order:3;
	flex-grow:1;
	flex-shrink:1;
	width:130px;
	/* border-style:solid;  */
	/*  border-color:red; */
	padding-right:10px;
	/* más ancha y con padding a la derecha para compensar la sombra de los stickits*/
}

.columnCenter{
	order:2;
	flex-grow:2;
	width:500px;
}

.stickitColumna{
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  padding:10px;
  text-align:justify
}

table.regionalTable {
	margin-left:auto; 
    margin-right:auto;
    top: 265px;
    left: 265px;    
    width: 670px;
}

div.marcoFijoTablaPaginada{
	height:580px;
}

#columnaCentralAvanzada {
	background: white;
	margin-left: 315px;
    text-align:middle;
    margin-bottom:10px;
	
}

.shelterContainer{
	height: 30px;
	text-align:left;
	padding:5px;
	width:300px;
}

.resultRowContainer{
	padding:5px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding:5px;		
}

td.distancia{
	width: 100px;
	color:#a9b93c; /* verde claro */
	text-align:right; 
	padding-right: 20px;
}

.locacion{
	width: 250px;
	text-align:left; 
}

a.btnMoreDetails{
	background: #2ba9bd;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    text-decoration: none;   
    border-radius: 8px;
    padding: 3px;
    vertical-align:middle;
    padding-top: 8px;
    width: 55px;
}

a.btnMoreDetails:hover{
	background: #16535b;
}


a.detailMapInfoBox{
    color: #2ba9bd;
}

a.detailMapInfoBox:hover{
	color: #16535b;
}


img.detailShelterAncha{
	width:750px;
}

img.detailShelter{
	height:150px;
}

.w90 {
width: 90px;
}

.butFirstArea{
	color: #fff;
	background-color:#337ab7;
	border-color: 
	#2e6da4; display:inline-block; 
	padding:6px 12px;
	font-size:14px;
	text-align:center;
	white-space:nowrap;
	border: 1px solid transparent;
	border-radius:4px;
	width: 100%;
}

.butFirstArea2{
	color: #fff;
	background-color:#fc8d83;
	background: linear-gradient(to bottom, #a5a5f3 5%, #7a7aeb 100%);
	border-color: 1px solid #d83526;
	#2e6da4; display:inline-block; 
	padding:6px 12px;
	font-size:14px;
	text-align:center;
	white-space:nowrap;
	border: 1px solid transparent;
	border-radius:4px;
	width: 100%;
}
        
.butSecondArea{
	/*color: #fff;*/
	background-color: background: linear-gradient(rgb(237, 237, 237) 5%, rgb(186, 177, 186) 100%) rgb(237, 237, 237);
	border: 1px solid rgb(214, 188, 214);
	display:inline; 
	padding:6px 12px;
	font-size:12px;
	text-align:center;
	white-space:nowrap;
	border: 1px solid transparent;
	border-radius:4px;
	margin: 2px;
	width: 100%;
}

.pictureTitleAlpha{
	text-align: center;
	color: #1e6b88;
	font-size: 14px;
	font-family: "Dosis";
	padding:5px;
}


#busquedaShelters{
    top: 201px;
    left: 215px;
    width: 670px;
	margin-left:auto; 
    margin-right:auto;  
    margin-top: 25px;  
    font-size:10px;
}

.detalleDogBreed{
	style="display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:stretch;
	align-content:stretch;
	position:fixed;
	left:50%;
	top:50%;  
	zindex:9999; 
	transform: translate(-50%, -50%); 
	background-color:white; 
	width:900px; 
	padding: 20px;
	border-radius:5px;
	background-color:#EFFBEF;
}

.tituloVentanaDetalle{
	font-size:32px;
	font-weight:900;
	color:#102739;
	padding:5px;
}

img.breedImageDetalle{
	height: 220px;
	width: auto;
}

.feature{
  display:flex;
  flex-direction:row;
  padding-left:5px;
  padding-top:5px;	
}


.featureTitle {
  text-align: left;
  vertical-align: middle;
  color: #1e6b88;
  font-size: 16px;
  font-family: "Dosis";
  height: 30px;
  width: 150px;
}

.featureText {
  text-align: justify;
  vertical-align: middle;
  font-size: 16px;
  width: 500px;
}

.rankingBlock{
;
	display:flex;
	flex-direction:row;
	flex-grow:1;
	justify-content:flex-start;
}

.rankingTabs{
	display:flex;
	flex-direction:column;
	width:380px;

}

.rankingHeaderSelected {
;	
  text-align: left;
  vertical-align: middle;
  display:flex;
  flex-direction:row;
  background-color:#A4C6CF;
  height:30px;
  width:360px;
  border-radius: 10px 0 0 10px ;
  padding-left:10px;
}

.rankingHeader {

  text-align: left;
  vertical-align: middle;
  display:flex;
  flex-direction:row;
  background-color:#CBC5F5;
  height:30px;
  width:360px;
  border-radius: 10px 0 0 10px ;
  padding-left:10px;
  margin-top:2px;
  margin-bottom:2px;
}


.rankingTitle {
  text-align: left;
  vertical-align: middle;
  color: #1e6b88;
  font-size: 16px;
  font-family: "Dosis";
  height: 30px;
  width: 210px;
  padding-top:5px;

}

.rankingText {
  text-align: justify;
  vertical-align: middle;
  font-size: 16px;
  flex-grow:1;
  height:190px;
  width:610px;
  background-color:#A4C6CF;
  padding:5px;
}



div.closeButton{
	background-image: url('../img/close_button_turquesa.gif');
	top:50px;
	right: 50px;
    max-height: 25px;
    max-width: 25px;
}

.areaHeader{
  border-style:solid;
  background-color:#D9D9DB;
  color:#10203A;
  border-width:1px;
  border-radius:3px;
  margin:3px;	
}

.countryTitle{
	padding-top:10px;
	font-size:24px;
	text-align:center;
	margin-bottom:5px;
}

.area1Title{
	padding-top:8px;
	font-size:20px;
	text-align:center;
	margin-bottom:5px;
}

.area2Title{
	padding-top:5px;
	font-size:16px;
	text-align:center;
	margin-bottom:5px;
}

.areaItemContainer{
	padding:4px;
	font-size:16px;
	text-align:center;
}

.dogPurposeDescription{
	width:500px;
	padding:5px;
	font-size:15px;
	text-align:justify;
}

.contVinculosSubmenu{
	font-size:18px;
	color:olive;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding:5px;
	
}

.vinculoSubmenu{
	padding:10px;
	color:olive;
	text-decoration:none;
}

.formFieldContainer{
	width:300px;
	display:flex;
	flex-direction:row;
	padding:5px;
}





		